.btn {
  background-color: #EBB238;
  border: none;
  color: black;
  padding: 12px 43px;
  font-size: 27px;
  cursor: pointer;
  margin-left:10px;
  border-radius:7px;
}

/* Darker background on mouse-over */
.btn:hover,.dropbtn:focus  {
  background-color: white;
}



  


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 19px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .btn {background-color: #F6DBA2;}





body {
	background: #CAE0FF url(img01.gif) repeat-x;
	
	
}


h1, h2, h3 {
	color: #5A82D4;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1em;
}




/* Splash */

#splash {
	width: 950px;
	height: 250px;
	margin: auto 200px;
	padding: 15px 20px 20px 20px;
	
}
.increase-imagemap {
	transform: scale(1, 1) translate(0, 0);
	transform-origin: 0 0
}

.increase-imagemap .increase-imagemap-image {
	position: relative!important;
	z-index: 0!important;
	width: 100%!important;
	height: 100%!important;
	margin: 0!important;
	max-width: none!important;
	max-height: none!important;
	display: block!important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent
}

.increase-imagemap .increase-imagemap-shape-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}

.increase-imagemap .increase-imagemap-shape {
	cursor: pointer;
	pointer-events: all;
	transition: all .25s cubic-bezier(.55, 0, .1, 1);
	-moz-transition: all .25s cubic-bezier(.55, 0, .1, 1);
	-webkit-transition: all .25s cubic-bezier(.55, 0, .1, 1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none
}

.increase-imagemap .increase-imagemap-shape:hover {
	opacity: 1!important
}

.increase-imagemap .increase-imagemap-shape.sold {
	opacity: 1!important
}

.increase-imagemap .increase-imagemap-shape.other-rooms {
	opacity: 1!important;
	fill: #e2e2e2!important;
	fill-opacity: 0.8!important;
	stroke: #e8e8e8!important;
	stroke-width: 1!important
}

.increase-imagemap-building .increase-imagemap-building-name {
	position: absolute;
	top: 20px;
	left: 0;
	background: rgba(255, 255, 255, .3);
	font-size: 1.3rem;
	padding: 10px 15px;
	z-index: 6
}

body.modal-open {
	overflow: hidden!important
}

#increase-imagemap-building-modal.modal {
	border: none;
	padding: 0!important
}

#increase-imagemap-building-modal .modal-dialog {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	max-width: 99999999px;
	height: 100%;
	background: #fff
}

#increase-imagemap-building-modal.modal.fade {
	opacity: 1
}

#increase-imagemap-building-modal.modal.fade .modal-dialog {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	transform: translate(0);
	overflow: hidden;
	position: relative
}

#increase-imagemap-building-modal .modal-content,
#increase-imagemap-building-modal .modal-content-desc {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0
}

.imgmap-frontend-image {
	overflow: auto;
	display: block;
	position: fixed;
	top: 54px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1
}

#increase-imagemap-building-modal .modal-content-desc #increase-imagemap-building-modal-content {
	z-index: 2;
	position: relative
}

#increase-imagemap-building-modal .modal-content-desc .close-modal {
	z-index: 3;
	position: relative;
	float: right;
	line-height: 54px;
	width: 54px;
	-webkit-appearance: none;
	padding: 0;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0
}

#increase-imagemap-building-modal .modal-content-desc .close-modal:hover {
	opacity: .9
}

.increase-imagemap-floor-modal .title {
	position: relative;
	z-index: 2;
	text-align: center
}

#increase-imagemap-building-modal-content {
	z-index: 2;
	position: relative
}

#increase-imagemap-building-modal .modal-hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	visibility: visible;
	opacity: 1;
	background: red;
	webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out
}

#increase-imagemap-building-modal .modal-hover.hidden-modal {
	display: none!important;
	opacity: 0;
	visibility: hidden
}

#increase-imagemap-container>div {
	margin: 0 auto
}

#increase-imagemap-building-modal .legenda-map * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0
}

#increase-imagemap-building-modal .legenda-map>*:last-child {
	margin-right: 0
}

#increase-imagemap-building-modal .legenda-map .legenda-item>span {
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	opacity: .6
}

#content {
	background: transparent url('sbg02-white-right.png') no-repeat right top;
	padding: 5px 500px 5px 40px;
}
#wrapper-content {
	background: white url('bg02-white-left.png') no-repeat left top;
}
#wrapper-image {
	float: right;
	width:100px;
  height:100px;
  padding-right: 0px;
	margin: 20px 10px 3em 2em;
	background: white;
	
}
.text {font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  color: black;

}
.tab { margin-left: 20px; }


body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}